.listUsers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2%;

  li {
    width: 20%;
    margin: 0 2% 2% 2%;
    text-align: center;
  }

  .name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 30px 0; 
  }

  .job {
    margin: 10px 0;
  }

  .avatar {
    width: 120px;
    height: 120px;
    font-size: 60px;
    background-color: coral;
    margin: 10px auto 20px auto;

  }

}