.wrapper-page-profil {
    position: relative;
    height: 100%;
    margin: 15px;

    .wrapper-header-profil {
        position: relative;
        padding-bottom: 30px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 95%;
            height: 1px;
            background-color: #d3d3d3;
        }
        
        .wrapper-avatar-profil, .wrapper-info-user, .wrapper-competences-user {
            display: inline-block;
            vertical-align: top;
            margin: 20px;
        }

        .wrapper-avatar-profil {
            margin-left: 15px;
            .avatarProfil {
                width: 200px;
                height: 200px;
                font-size: 60px;
                background-color: coral;
            } // avatarProfil
        }
    
        .wrapper-info-user {
            h2, p {
                margin-top: 5px;
            }

            .nomProfil {
                font-size: 26px;
            } // nomProfil
        
            .metierProfil, .entrepriseProfil {
                font-size: 20px;
                font-weight: bold;
            }
    
            .mailProfil, .numberProfil, .siteWebProfil {
                font-size: 16px;
            }
    
            .siteWebProfil {
                a {
                    text-decoration: underline;
                }
            }
        } // wrapper-info-user

        .wrapper-competences-user {
            .wrapper-badge-competences-user {
                position: relative;
                display: inline-block;
                margin-right: 15px;

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            } // badge-competences-user

            .wrapper-bio-user {
                margin-top: 20px;

                p:first-child {
                    font-weight: bold;
                }

                .text-bio-user {
                    font-size: 15px;
                }
            } // wrapper-bio-user
        } // wrapper-competences-user
    
        .btn-close {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 30px;
            height: 30px;
            padding: 0;
            background-color: #333;
            border-radius: 50px;
    
            &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 2px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background-color: #fff;
            }
    
            &::after {
                content: '';
                position: absolute;
                width: 15px;
                height: 2px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                background-color: #fff;
            }
        } // btn-close
    } // wrapper-header-profil

    .wrapper-body-profil {
        .wrapper-aides-profil, .wrapper-competences-profil {
            display: inline-block;
            vertical-align: middle;
            margin-right: -4px;
            padding: 40px;
        }

        .wrapper-competences-profil {
            width: 40%;

            h3 {
                font-size: 20px;
                font-weight: bold;
            }

            .wrapper-badge-competence {
                display: inline-block;
                width: max-content;
                background-color: rgb(172, 172, 172);
                border-radius: 50px;
                padding: 6px 15px;
                margin: 20px 20px 0 0;
                cursor: pointer;

                .badge-competence {
                    font-size: 13px;
                } // badge-competence
            } // wrapper-badge-competence
        } // wrapper-competences-profil

        .wrapper-aides-profil {
            width: 60%;

            h3 {
                font-size: 20px;
                font-weight: bold;
            }

            .wrapper-badge-aide {
                display: inline-block;
                width: max-content;
                background-color: rgb(172, 172, 172);
                border-radius: 50px;
                padding: 6px 15px;
                margin: 20px 20px 0 0;
                cursor: pointer;

                .badge-aide {
                    font-size: 13px;
                } // badge-competence
            } // wrapper-badge-aide
        } // .wrapper-aides-profil
    } // wrapper-body-profil

    .btn-contacter {
        position: absolute;
        bottom: 15px;
        right: 15px;
        background-color: #333;
        color: #fff;
        border-radius: 50px;
    } // btn-contacter
} // wrapper-page-profil